* {
  margin: 0;
  padding: 0;
  border: 1px salmon solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
}

@media (max-width: 600px) {
  footer {
    font-size: 10px;
  }
  header,
  #logo {
    display: none;
  }
  .ham {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  #nav:hover .nav-content {
    display: block;
  }
  #nav {
    position: relative;
    display: inline-block;
  }
  #nav:hover .ham {
    background-color: #3e8e41;
  }
  li:hover {
    background-color: yellowgreen;
  }
  .nav-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .nav-content > li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .columnhead {
    display: none;
  }
  #sub {
    width: 100%;
  }
  .formbox {
    display: flex;
    flex-direction: row;
  }
  label {
    display: none;
  }
  input {
    width: 100%;
  }
}
@media (min-width: 601px) {
  .columns {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .col {
    margin: 2em;
  }
  .databox {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .mainbox {
    display: flex;
    flex-direction: row;
  }
  .input {
    margin-left: 1em;
  }

  .ham {
    display: none;
  }
  ul > li {
    display: block;
  }
  .nav-content {
    display: flex;
    flex-direction: row;
  }
  li {
    text-align: center;
    flex-grow: 5;
    padding: 1em;
  }
  header {
    height: 20em;
  }
  .upblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #tablehead tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #sub {
    width: 5em;
    height: 3em;
    background-color: sandybrown;
    float: right;
  }
  .formbox {
    display: flex;
    flex-direction: column;
  }

  footer {
    background-color: black;
    color: whitesmoke;
  }
}
/* header goes here  */
header {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-image: url(../images/opticalchild.jpg);
  object-fit: contain;
  filter: brightness(70%);
}

#logo > img {
  object-fit: contain;
  width: 100px;
  height: 100px;
}
/* main goes here */
main {
  margin: 4em;
}
section > ul > li {
  margin-top: 10px;
}
figcaption {
  margin-left: 1em;
}
#brands {
  width: 100%;
  height: 100%;
}
/* contentpage goes here */
.img {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}
/* datapage goes here */
section {
  margin-top: 2em;
  margin-bottom: 2em;
}
.block {
  margin-top: 1em;
}
table {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.block > tr > h2 {
  display: none;
}
.databox {
  display: flex;
  flex-direction: column;
}
/* formpage goes here */
form {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
input {
  background-color: lightgray;
  height: 2em;
}
/* blogpage goes here */
.blogpics {
  margin: 1em;
}
#footer > ul > li {
  padding: 0;
  list-style: none;
  color: white;
}
