body {
    position: relative; 
  }
  /* #glasses {padding-top:50px;height:auto;color: #fff; background-color: #1E88E5;}
  #services {padding-top:50px;height:auto;color: #fff; background-color: #673ab7;}
  #contact {padding-top:50px;height:auto;color: #fff; background-color: #ff9800;}
  #aboutus {padding-top:50px;height:auto;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:auto;color: #fff; background-color: #009688;} */